html, body {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 1px;
} 
body {
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    display: none;
  }

  /* Loader animation */
:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
  }
.load {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
    animation: loading 0s ease-in 3s forwards; 
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  .loader::before , .loader::after{
    content: '';
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0),
      radial-gradient(circle 10px, #99E2D0 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }
  .loader::after {
    font-size: 1px;
    background: #99E2D0;
    animation: bounce 1s ease-in infinite;
  }
  
  @keyframes bounce {
    0% , 100%{ font-size: 0.75px }
    50% { font-size: 1.5px }
  }
  @keyframes blast {
    0% , 40% {
      font-size: 0.5px;
    }
    70% {
      opacity: 1;
      font-size: 4px;
    }
     100% {
       font-size: 6px;
      opacity: 0;
    }
  }
  @keyframes loading {
    to {
        width:0;
        height:0;
        visibility: hidden;
    }
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 80px;
}
h1 {
    color: #ffffff;
    margin-right: 70px;
}
h2 {
    text-align: center;
    margin-top: 80px;
}
.flex-items a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    margin: 70px;
}

.livre-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.livre-container p {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    padding: 0px 0px;
}

#vrac, #artistes {
    text-align: center;
}
.vrac-section, .blocks-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.block {
    width: 250px;
    margin: 30px;
    border: 0px solid #000000;
    text-align: center;
    background-color: #ffa500;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 50px; 
}

.block h3 {
    font-size: 15px;
}

/* Footer */

.footer {
    color: #ffffff;
    background-color: #000000;
}

.footer h2 {
    padding-top: 20px;
    background-color: #000000;
}
.contacts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 20px;
}

.contact-icon img {
    width: 15px;
    height: 15px;
    color: #ffffff;
}

/* Responsive styling example */
@media (max-width: 875px) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    h1 {
        margin-right: 0px;
    }
    .flex-items a {    
        margin: 5px;
    }
    .container {
        margin: 10px;
    }
    .livre-container {
        padding: 30px;
    }
    .livre-container p {
        padding: 10px;
    } 
    
    /* Footer */
    .contacts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
